<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="csrf-token" content={get_csrf_token()} />
  <.live_title default="Hub" suffix=" · Phoenix Framework">
    AnomalyHub
  </.live_title>
  <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
  </script>
</head>

<body class="bg-white">
  <div class="flex items-center justify-between px-4 sm:px-6 lg:px-8 py-4 border-b border-gray-200">
    <div class="flex items-center gap-4">
      <a href="/">
        <img src={~p"/images/logo.png"} width="36" />
      </a>
      <span class="text-2xl font-extrabold text-black" style="font-family: 'Poppins', sans-serif;">
        AnomalyHub
      </span>
    </div>
    <ul class="flex items-center gap-4">
      <%= if @current_user do %>
        <li class="text-sm font-bold text-black">
          <%= @current_user.email %>
        </li>
        <li>
          <.link href={~p"/users/settings"}
            class="text-sm font-medium text-white bg-black px-3 py-1.5 rounded hover:bg-gray-800 transition">
            Settings
          </.link>
        </li>
        <li>
          <.link href={~p"/users/log_out"} method="delete"
            class="text-sm font-medium text-white bg-black px-3 py-1.5 rounded hover:bg-gray-800 transition">
            Log out
          </.link>
        </li>
        <% else %>
          <li>
            <.link href={~p"/users/register"}
              class="text-sm font-medium text-white bg-black px-3 py-1.5 rounded hover:bg-gray-800 transition">
              Register
            </.link>
          </li>
          <li>
            <.link href={~p"/users/log_in"}
              class="text-sm font-medium text-white bg-black px-3 py-1.5 rounded hover:bg-gray-800 transition">
              Log in
            </.link>
          </li>
          <% end %>
    </ul>
  </div>

  {@inner_content}
</body>

</html>